@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 1.65rem;
  color: #fff;
  background-color: #232323;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: #b9441a;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3.2rem;
  color: #b9441a;
  font-weight: 200;
  width: -moz-fit-content;
  width: fit-content;
}
.section-title::before {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #b9441a;
  content: "";
}
.section-title span {
  font-weight: 900;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__text {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/6;
  padding: 2em;
}
.header p {
  font-weight: 300;
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/7;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/two-barber-scissors-square.jpg");
  filter: grayscale(20%);
  background-size: cover;
  background-position: center;
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__arrow {
  display: none;
}
.header__bg-icon-one, .header__bg-icon-two {
  position: absolute;
  opacity: 0.05;
  z-index: -5;
}
.header__bg-icon-one {
  bottom: 2em;
  right: -3em;
  width: 50%;
  animation: rotate-right 60s infinite linear;
}

.hamburger {
  position: fixed;
  top: 3em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 100;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  z-index: 100;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(-102%);
  transition: transform 0.3s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-desktop {
  position: fixed;
  display: none;
  width: 100%;
  background-color: #232323;
  z-index: 100;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #b9441a;
}

.cards {
  background-color: #191919;
  overflow: hidden;
}
.cards__box {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2em;
  padding: 6em 2em;
}
.cards__card {
  position: relative;
  display: grid;
  justify-items: center;
  padding: 3em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #232323;
  transition: background-color 0.3s, border 0.3s;
  z-index: 5;
}
.cards__card:hover {
  background-color: #191919;
  border: 1px solid #b9441a;
  z-index: 1;
}
.cards__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #b9441a;
  border-radius: 8px;
  opacity: 0;
}
.cards__card:hover::before {
  animation: pulse 1s;
}
.cards__card img {
  margin-bottom: 1em;
  width: 60px;
}
.cards__card h3 {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}
.cards__card--one {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.cards__card--two {
  grid-row: 2/3;
  grid-column: 1/-1;
}
.cards__card--three {
  grid-row: 3/4;
  grid-column: 1/-1;
}

.aboutus {
  padding: 6em 2em;
  overflow: auto;
}
.aboutus__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus__cards .one {
  background-image: url("../img/person-card/peter.jpg");
  filter: grayscale(50%);
}
.aboutus__cards .two {
  background-image: url("../img/person-card/sonia.jpg");
}
.aboutus__cards__person-card {
  position: relative;
  box-sizing: border-box;
  margin: 2rem;
  max-width: 45%;
  min-width: 300px;
  height: auto;
  aspect-ratio: 9/16;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.7);
}
.aboutus__cards__person-card button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 36px;
  text-shadow: 10px 10px 5px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 1;
}
.aboutus__cards__person-card button:hover ~ .text {
  -webkit-clip-path: circle(250% at 90% 90%);
          clip-path: circle(250% at 90% 90%);
}
.aboutus__cards__person-card .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #dddddd;
  -webkit-clip-path: circle(0% at 90% 90%);
          clip-path: circle(0% at 90% 90%);
  transition: -webkit-clip-path 0.8s;
  transition: clip-path 0.8s;
  transition: clip-path 0.8s, -webkit-clip-path 0.8s;
}
.aboutus__cards__person-card .profil-name {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #dddddd;
}
.aboutus__cards__person-card p {
  font-size: 1.5rem;
}

.services {
  padding: 6em 2em;
  position: relative;
  display: grid;
  grid-template-areas: "title title title" "box box box" "box box box";
}
.services__title {
  grid-area: title;
}
.services__boxes {
  grid-area: box;
}
.services__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%);
}
.services__box-title {
  margin: 0.3em 0;
  font-size: 2.6;
  color: #b9441a;
  font-weight: bold;
}
.services__box-text {
  margin-bottom: 0.5em;
  font-weight: 200;
}
.services__box-link {
  display: block;
  margin-bottom: 2em;
  font-weight: bold;
  color: #b9441a;
  text-align: right;
  text-decoration: none;
  transition: color 0.3s;
}
.services__box-link:hover {
  color: #8b3313;
}
.services__bg-icon {
  display: none;
}

.newsletter {
  padding: 8em 2em;
  background-color: #bd324b;
  text-align: center;
}
.newsletter__text {
  padding: 1em;
  margin-bottom: 1em;
  font-size: 4rem;
  font-weight: 200;
}
.newsletter__form input {
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
}
.newsletter__form button {
  padding: 1em;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.newsletter__form button:hover {
  color: #bd324b;
  background-color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery .image {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .image:nth-child(odd) {
  display: none;
}

.contact {
  padding: 6em 2em;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.contact__form-box label {
  display: block;
  margin-bottom: 0.5em;
}
.contact__form-box textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
.contact__form-box input,
.contact__form-box textarea {
  padding: 1em 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #fff;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.contact__form-box input:focus,
.contact__form-box textarea:focus {
  outline: none;
  border: 1px solid #b9441a;
}
.contact__form-box:nth-child(1) {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.contact__form-box:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.contact__form-box:nth-child(3) {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.contact__form-btn {
  grid-column: 5/7;
  grid-row: 4/5;
  padding: 1em;
  border: 1px solid #fff;
  background: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.contact__form-btn:hover, .contact__form-btn:focus {
  outline: none;
  color: #232323;
  background-color: #fff;
}

.footer {
  color: #fff;
  background-color: #191919;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer a {
  transition: color 0.3s;
}
.footer a:hover {
  color: #b9441a;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #b9441a;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}
.footer__name-link {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 576px) {
  .services {
    position: relative;
    grid-template-areas: " title box " " title box " " title box ";
    gap: 2em;
    padding: 6em 2em;
  }
  .services__box {
    display: grid;
    justify-content: end;
  }
  .services-title {
    top: 120px;
    position: sticky;
  }
  .services__box-img, .services__box-text {
    max-width: 500px;
  }
  .services__bg-icon {
    position: absolute;
    display: block;
    opacity: 0.05;
    z-index: -5;
  }
  .services__bg-icon--one {
    top: 15%;
    width: 14%;
    animation: rotate-right 160s infinite linear;
  }
  .services__bg-icon--two {
    bottom: 10%;
    left: 10%;
    width: 30%;
    animation: rotate-left 140s infinite linear;
  }
  .services__bg-icon--three {
    top: 26%;
    left: 16%;
    width: 50%;
    animation: rotate-left 160s infinite linear;
  }
  .services__bg-icon--four {
    top: 55%;
    left: -10%;
    width: 15%;
    animation: rotate-right 140s infinite linear;
  }
}
@media (min-width: 768px) {
  .cards__box {
    padding: 10em 2em;
  }
  .cards__card--one {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .cards__card--two {
    grid-row: 1/2;
    grid-column: 4/7;
  }
  .cards__card--three {
    grid-row: 1/2;
    grid-column: 7/10;
  }
  .aboutus__cards {
    flex-direction: row;
  }
  .newsletter__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .newsletter__text {
    margin-bottom: 0;
  }
  .newsletter__form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
  .newsletter__form input {
    margin-bottom: 0;
  }
  .contact__form {
    gap: 30px;
  }
  .contact__form-box:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .contact__form-box:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/2;
  }
  .contact__form-box:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .contact__form-btn {
    grid-row: 3/4;
  }
  .footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../img/footer_image.jpg");
    filter: grayscale(50%);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4.5rem;
  }
  .section-title::before {
    height: 4px;
  }
  h1.company-name {
    font-size: 6rem;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header p {
    font-size: 1.8 rem;
  }
  .header__img {
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 48%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .header__bg-icon-one {
    left: 6em;
    bottom: 8em;
    width: 10%;
  }
  .header__bg-icon-two {
    display: block;
    top: 10em;
    left: 35%;
    width: 5%;
    animation: rotate-left 60s infinite linear;
  }
  .nav {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1em;
  }
  .nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  .nav__link {
    color: #fff;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #b9441a;
    opacity: 0;
  }
  .nav__link:hover::before {
    animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
  .aboutus {
    padding: 8em 2em;
  }
  .aboutus__cards__person-card {
    padding: 0 5em;
    max-width: 400px;
  }
  .aboutus__cards__person-card .profil-name {
    font-size: 3.5rem;
    margin-bottom: 5px;
    color: #dddddd;
  }
  .aboutus__cards__person-card p {
    font-size: 1.8rem;
  }
  .services {
    padding: 8em 2em;
  }
  .contact {
    padding: 8em 2em;
  }
  .footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em 2em 2em;
  }
}
@media (min-width: 1200px) {
  .header__text p {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */